.projects-header {
  overflow: hidden;
  margin: 20px 0 0 0;
}

.projects-header > h1 {
  font-weight: 400;
  font-size: 3.5rem;
  transform: translateY(60px);
}

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 0.2fr 1fr;
  margin-top: 50px;
}

.content-container {
  opacity: 0;
  margin-bottom: 40px;
}

.built-with {
  font-weight: bold;
  display: inline-block;
  padding-right: 5px;
  margin: 20px 0 20px 0;
}

.built-wrapper {
  display: flex;
}

.project-col-2 > a {
  margin-right: 20px;
}

.project-col-1 {
  margin-bottom: 100px;
  grid-column-start: 1;
}

.project-header-2 > h1 {
  font-style: italic;
  font-size: 2.5rem;
}
.project-header-2 > p {
  font-style: italic;
  font-size: 1.5rem;
  margin: auto 0;
}

.project-header-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.project-col-2 {
  width: 80%;
  margin: 0 auto;
}

.project-desc {
  font-weight: 200;
  font-size: 1.4rem;
}

.images {
  width: 500px;
}

.line {
  width: 0%;
  height: 1px;
  background-color: black;
}

.archive-link {
  font-size: 1.5rem;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.archive-link:hover {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
