/* .projects-header {
  overflow: hidden;
  margin: 20px 0 0 0;
} */

/* .projects-header > h1 {
  font-size: 4.5rem;
  transform: translateY(80px);
} */

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 0.2fr 1fr;
  margin-top: 50px;
}

.built-with {
  font-weight: bold;
  display: inline-block;
  padding-right: 5px;
  margin: 20px 0 20px 0;
}

.built-wrapper {
  display: flex;
}

.project-col-2 > a {
  margin-right: 20px;
}

.project-col-1 {
  margin-bottom: 100px;
  grid-column-start: 1;
}

.project-header-2 > h1 {
  font-style: italic;
  font-weight: 100;
  font-size: var(--subheader-size-regular);
}
.project-header-2 > p {
  font-style: italic;
  font-size: var(--font-size-regular);
  margin: auto 0;
}

.project-header-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.project-col-2 {
  width: 80%;
  margin: 0 auto;
}

.project-desc {
  /* color: var(--font-color); */
  font-weight: 300;
  font-size: var(--font-size-regular);
}

.images {
  width: 500px;
  height: auto;
}

.line {
  width: 0%;
  height: 1px;
  background-color: black;
}

.archive-link {
  font-size: var(--font-size-regular);
  border: 1px solid var(--font-blue);
  color: var(--font-blue);
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}
.archive-link:hover {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

@media (max-width: 1000px) {
  .project-desc {
    font-size: var(--font-size-medium);
  }
  .project-header-2 > h1 {
    font-size: var(--subheader-size-medium);
  }
  .project-content {
    grid-template-columns: 400px 1fr;
  }
  .images {
    width: 400px;
  }
}
