.case-studies-header {
  overflow: hidden;
  margin: 20px 0 0 0;
}

.case-studies-header > h1 {
  font-size: 4.5rem;
}

.case-studies-body > p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
}
.case-content-container {
  margin-top: 50px;
}
.case-content-wrapper {
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.5fr 0.2fr;
  margin-top: 20px;
}

.content-id {
  font-family: "IBM Plex Mono", monospace
}

.content-name {
  font-weight: 300;
}

.content-link {
  text-align: center;
  color: var(--font-blue);
  cursor: pointer;
}
.content-link:hover{
  text-decoration: underline;
}
