.case-studies-body > p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.case-content-wrapper {
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.5fr 0.2fr;
  margin-top: 20px;
}

.content-container.case-studies {
  margin-top: 70px;
}


.case-content {
  font-size: .9rem;
  font-family: "IBM Plex Mono", monospace
}
.content-id {
  font-weight: 700;
}
.content-desc {
  font-family: 'Roboto', sans-serif;
}

.content-name {
  font-weight: 700;

}
.content-link {
  font-weight: 700;
  text-align: center;
  color: var(--font-blue);
  cursor: pointer;
}
.content-link:hover{
  text-decoration: underline;
}
