.side-nav-container {
    position: fixed;
    top: 50%;
}

.side-nav-container > ul {
    padding: 0;
}

.side-nav-list {
    position: relative;
    list-style: none;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    padding: 8px;
    border: .5px solid black;
    left: -40px;
    margin-bottom: 5px;
}
.side-nav-list:hover {
    background-color: black;
}

