.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 30px;
}

.about-text {
    font-weight: 300;
    font-size: 1.5rem;
}

.img-portrait {
    width: 450px;
}