.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0 80px 0;
    opacity: 0;
}

.about-text {
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 500px;
}

.about-portrait {
    overflow: hidden;
    width: 350px;
    margin: 0 auto;
}

.img-portrait {
    width: 350px;
    transform: translateY(300px);
}
