.nav-container {
  display: flex;
  display: grid;
  grid-template-columns: .5fr 1fr;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.name {
    font-size: 1.5rem;
}

.list-wrapper {
  overflow: hidden;
  display: block;
  padding: 10px;
}
.list-wrapper > li {
  display: inline-block;
  font-weight: 300;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.3rem;
  padding: 10px;
  transform: translateY(50px);
}

.nav-container > ul {
  padding: 0;
}
