.nav-container {
  display: flex;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.name {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: var(--font-size-regular);
  align-self: center;
  opacity: 0;
  cursor: pointer;
}

.list-wrapper {
  overflow: hidden;
  display: block;
  padding: 10px;
}
.list-wrapper > li {
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  font-weight: 700;
  border: 1px solid black;
  /* border-radius: 5px; */
  margin-right: 10px;
  font-size: var(--font-size-small);
  padding: 8px;
  transform: translateY(50px);
  cursor: pointer;
}

.list-wrapper > li:hover {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.nav-container > ul {
  padding: 0;
}

.hidden-nav {
  visibility: hidden;
}

@media (max-width: 850px) {
  .list-wrapper > li {
    font-size: var(--font-size-xsmall);
  }
  .name {
    font-size: var(--font-size-small);
  }
}


@media (max-width: 650px) {
  .list-wrapper > li {
    margin-right: 5px;
    width: 30px;
    text-align: center;
  }
  
  .nav-container {
    grid-template-columns: .4fr .5fr;
  }
  .hide-nav {
    display: none;
  }
  .unhide-nav {
    display: block;
  }
}

@media (min-width: 651px) {
  .unhide-nav {
    display: none;
  }
}