
:root {
  --bg-color: rgb(40, 135, 194);
  --font-color: rgb(227, 227, 227);
}
* {
  font-family: Helvetica;
}

.app-wrapper {
  border: 1px solid black;
  height: 300vh;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
}