@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
:root {
  --bg-color: rgb(40, 135, 194);
  --font-color: #5a5a5a;
  --font-blue: rgb(55, 17, 241)
}
* {
  font-family: 'Roboto', sans-serif;
}
