:root {
  --bg-color: rgb(40, 135, 194);
  --font-color: #5a5a5a;
  --font-blue: rgb(55, 17, 241)
}
* {
  font-family: 'Roboto', sans-serif;
}

.section-headers {
  overflow: hidden;
  margin: 20px 0 0 0;
}

.section-headers > h1 {
  font-size: 4.5rem;
}

.section-headers .projects-header {
  transform: translateY(80px);
}

.section-container {
  margin-top: 100px;
  scroll-margin: 40px;
}

.content-container {
  margin-bottom: 40px;
}

.content-container.projects-content-container {
  opacity: 0;
}
